.intro {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 230px;

}

.intro__title {
    font-size: 54px;
    font-family: 'Inter', sans-serif;
    line-height: 1.07;
    font-weight: 900;
    max-width: 830px;
   
   


}

.intro__subtitle {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    line-height: 1.42;
    font-weight: 400;
    max-width: 738px;
  
}

.intro__quote-author {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    line-height: 1.42;
    font-weight: 400;
    max-width: 738px;
    text-align: right;
    
}

.intro__paragraph {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
 
    line-height: 1.63;
    font-weight: 400;
    max-width: 722px;
   
}


@media (max-width: 544px) {
    .lead {
    
        
    }
    .intro__title {
        font-size: 45px;
        margin-left: 24px;
        
    }

    .intro__subtitle {
        font-size: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .intro__paragraph {
        margin-left: 24px;
            margin-right: 24px;
            
    }
    .intro__quote-author {
        margin-left: 24px;
            margin-right: 24px;
    }
}

@media (max-width: 1024px) {
    .intro__title {
        font-size: 32px;
        margin-left: 24px;
            margin-right: 24px;
    }

    .intro__subtitle {
        font-size: 24px;
margin-left: 24px;
    margin-right: 24px;
        
        
    }
    .intro__paragraph {
        margin-left: 24px;
            margin-right: 24px;
    }
    .intro__quote-author {
margin-left: 24px;
    margin-right: 24px;
    }
}